
#textrules{
text-shadow: 0 0 3px #FF0000, 0 0 10px #000aff;
text-align: center;
background-color: hsla(89, 43%, 51%, 0.3);
border-radius: 78px;
background-image: url(https://www.photohdx.com/images/2016/11/clean-white-grey-paper-background.jpg);
background-repeat: no-repeat;
}
#img{

	
}
